/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Courier New", Courier, monospace;
    background: url('761409677917290496.webp') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    cursor: url('761409677917290496.webp'), auto;
}

/* Header Styling */
.header {
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    border-radius: 15px;
    margin: 20px auto;
}

/* Button Styling */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 15px 40px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
    display: inline-block;
}

.button:hover {
    background-color: gray;
    transform: scale(1.1);
}

/* Content Styling */
.content {
    padding: 20px;
}

.rules {
    margin: 20px 0;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 600px) {
    .header {
        font-size: 24px;
    }
    .button {
        font-size: 14px;
        padding: 10px 20px;
    }
}
