body {
    background-image: url('https://chickenspace815072624.files.wordpress.com/2024/01/kenshi_original-1920x1080-1.jpg');
    color: #ffd700; /* Elden Ring gold */
    font-family: 'Old English Text MT', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-size: 3em;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ffd700; /* Elden Ring gold */
    text-transform: uppercase;
}

audio {
    margin: 20px;
    align-self: flex-end;
}

nav {
    background-color: #000; /* Black */
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid #ffd700; /* Elden Ring gold */
    margin: 0 10px;
    background-color: #555;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

p {
    font-size: 1.2em;
    margin: 20px;
    padding: 10px;
    background-color: #000; /* Black */
    color: #ffd700; /* Elden Ring gold */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.gallery img {
    max-width: 1200px;
    max-height: 800px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Recipe elements styling */
.recipe {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ffd700; /* Elden Ring gold */
    background-color: #000; /* Black */
    text-align: left;
}

.recipe img {
    max-width: 1200px;
    max-height: 800px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.recipe img:hover {
    transform: scale(1.1);
}

.recipe a {
    display: block;
    margin-top: 10px;
    color: #ffd700; /* Elden Ring gold */
    text-decoration: none;
    border: 2px solid #ffd700; /* Elden Ring gold */
    padding: 10px 16px;
    background-color: #555;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.recipe a:hover {
    background-color: #ddd;
    color: black;
}
