/* Font-Face Definitions */
@font-face {
    font-family: 'JMH Cthulhumbus Arcade UG';
    src: url('https://raw.githubusercontent.com/OpalCodestheUniverse/Servus-Automata/refs/heads/main/JMHCthulhumbusArcadeUG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lovecraft\'s Diary';
    src: url('https://raw.githubusercontent.com/OpalCodestheUniverse/Servus-Automata/refs/heads/main/LovecraftsDiary.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a80ce302-40cd-4d8d-81bf-f3d49237fe25/dg2yl5i-cb78d499-e85d-4216-869b-adb69c774ff7.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lovecraft\'s Diary', sans-serif;
}

/* Heading Styles */
h1, h2 {
    color: black;
    text-shadow: 2px 2px 4px white;
    text-align: center;
}

h1 {
    margin: 20px;
    font-size: 3rem;
}

h2 {
    margin: 10px;
    font-size: 2rem;
}

/* Paragraph Style */
p {
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
}

/* Footer Style */
footer {
    color: white;
    text-align: center;
    margin: 20px;
}

/* Hover Effect Class */
h1.hover-effect, h2.hover-effect, p.hover-effect, footer.hover-effect {
    font-family: 'JMH Cthulhumbus Arcade UG';
}
